<header>
    <nav class="navbar">
      <div class="navbar-brand-container">
        <a href="https://www.google.com" class="navbar-brand">Google</a>
      </div>
      <ul class="navbar-nav">
        <li><a href="/welcome/uttam" class="navbar-link">Home</a></li>
        <li><a href="/todos" class="navbar-link">Todos</a></li>
      </ul>
      <ul class="navbar-nav right-nav">
        <li><a href="/login" class="navbar-link">Login</a></li>
        <li><a href="/logout" class="navbar-link">Logout</a></li>
      </ul>
    </nav>
  </header>
  